services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress_password
      MYSQL_ROOT_PASSWORD: root_password
      TZ: America/Argentina/Buenos_Aires
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "127.0.0.1:3306:3306"
    networks:
      - app-network

  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    restart: always
    ports:
      - "127.0.0.1:8086:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress_password
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_CONFIG_EXTRA: |
        if (isset($$_SERVER['HTTP_X_FORWARDED_PROTO']) && $$_SERVER['HTTP_X_FORWARDED_PROTO'] === 'https') {
            $$_SERVER['HTTPS'] = 'on';
        }
        $$protocol = (isset($$_SERVER['HTTP_X_FORWARDED_PROTO']) && $$_SERVER['HTTP_X_FORWARDED_PROTO'] === 'https') ? 'https' : 'http';
        if (isset($$_SERVER['HTTP_HOST'])) {
            define('WP_HOME', $$protocol . '://' . $$_SERVER['HTTP_HOST']);
            define('WP_SITEURL', $$protocol . '://' . $$_SERVER['HTTP_HOST']);
        }
        define('CONCATENATE_SCRIPTS', false);
        define('JWT_AUTH_CORS_ENABLE', true);
        define('WP_DEBUG', false);
      TZ: America/Argentina/Buenos_Aires
    volumes:
      - wp_data:/var/www/html
    networks:
      - app-network

  wp-cli:
    image: wordpress:cli
    user: root
    volumes:
      - wp_data:/var/www/html
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress_password
      WORDPRESS_DB_NAME: wordpress
      TZ: America/Argentina/Buenos_Aires
    depends_on:
      - db
      - wordpress
    networks:
      - app-network

  backend:
    build: ./back
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "127.0.0.1:4000:4000"
    env_file: .env
    environment:
      WP_HOST: http://wordpress
      WC_BASE: http://wordpress/
      REDIS_URL: redis://host.docker.internal:6380
      VERBOSE_DEBUG: true
      TZ: America/Argentina/Buenos_Aires
    volumes:
      - frontend_dist:/app/public_html:ro
      - wp_data:/app/wp_uploads:ro
    depends_on:
      - wordpress
    networks:
      - app-network

  frontend:
    build: .
    restart: always
    ports:
      - "127.0.0.1:3010:80"
    volumes:
      - frontend_dist:/usr/share/nginx/html
    depends_on:
      - backend
    networks:
      - app-network
    environment:
      TZ: America/Argentina/Buenos_Aires

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
  wp_data:
  frontend_dist: