services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    restart: always
    ports:
      - "8082:80"
    environment:
      WORDPRESS_DB_HOST: ${DB_HOST}:3306
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_DB_NAME: ${DB_NAME}
      JWT_AUTH_SECRET_KEY: ${JWT_AUTH_SECRET_KEY}
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_HOME', 'http://' . $$_SERVER['HTTP_HOST']);
        define('WP_SITEURL', 'http://' . $$_SERVER['HTTP_HOST']);
        define('JWT_AUTH_SECRET_KEY', getenv('JWT_AUTH_SECRET_KEY'));
        define('JWT_AUTH_CORS_ENABLE', true);
    volumes:
      - wp_data:/var/www/html
    networks:
      - app-network

  wp-cli:
    image: wordpress:cli
    user: root
    volumes:
      - wp_data:/var/www/html
    environment:
      WORDPRESS_DB_HOST: ${DB_HOST}:3306
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}
      WORDPRESS_DB_NAME: ${DB_NAME}
    depends_on:
      - db
      - wordpress
    networks:
      - app-network

  backend:
    build: ./back
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "6001:4000"
    environment:
      - WP_HOST=http://wordpress
      - WC_BASE=http://wordpress/
      - WC_KEY=${WC_KEY:-your_consumer_key}
      - WC_SECRET=${WC_SECRET:-your_consumer_secret}
    depends_on:
      - wordpress
    networks:
      - app-network

  frontend:
    build: .
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
  wp_data:
