@import "tailwindcss";

:root {
  font-family: 'Outfit', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #f9fafb;
}

.craft-canvas {
  height: 100vh;
  width: 100%;
  background: white;
  transition: all 0.3s ease;
}

.indicator {
  position: absolute;
  height: 2px;
  background: #2563eb;
  z-index: 99;
}