@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

@plugin "flowbite-react/plugin/tailwindcss";
@plugin "flowbite/plugin";
@source "../.flowbite-react/class-list.json";

@source "../node_modules/flowbite";

body {
  @apply bg-white text-gray-900;
  font-family: 'Outfit', sans-serif;
}

/* Forzar que no haya estilos oscuros residuales */
:root {
  color-scheme: light;
}

